/*This Custom CSS file has not been structured in any particular order.

Modify this file to your hearts content and make your website look awesome!*/
body{
	background-color: #FAF9F8;

}

div.transparent1 {
	width: 100%;
	height: 100%;
	margin: 0; /* Space from this element (entire page) and others*/
	padding: 0; /*space from content and border*/
	border-right: rgba(38,114,133,.17) solid;
		border-width: 25px;
		border-left: rgba(38,114,133,.17) solid;
				border-width: 25px;
	overflow:hidden;
	display:block;
	box-sizing: border-box;
	position: absolute;
	background-color: transparent;
	z-index: -1;
}




/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: 200px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background-color: rgb(100,100,100);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{border: none; background-color: transparent;}

/*Navbar Rul
es*/



.navbar-nav a {

font-family: 'Merriweather Sans', sans-serif;
font-size: 12px;
letter-spacing: 2.3px;
text-align: center;
margin-right: 10px;
}

.navbar-light, .navbar-nav {
color: #037591;
}




.container-nav{
	background-color: #FAF9F8;
	margin-top: 40px;
	padding-top: 10px;
	padding-left: 10%;
padding-right: 8%;
padding-bottom: 10px;
width: 100%;
opacity: 0.9;
}


.firstName {
	padding-top: 8%;
}
.container-tall {
	padding-left: 10%;
	padding-top: 10%;
text-align: center;
}

.container-footer {
	width: 100%;
	height: 90px;
}

.logo{

	float: right;
	}
	/*Floating Nav*/
.floating-nav{
	position: fixed;
	margin-top: 10%;
	background-color: black;
	border: black solid;

}

.nav-link{
	margin-right: 30px;

}
	a.float-nav-link{
border
		color: #595959;
		font-size: 14px;
		font-weight: 600;
		text-align: left;

	}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	Currently, moving house is strenuous and time consuming process that is considered a negative experience by most. Every step involved pain points such as packing and organising belongings, physical strain and security of items.
	We hypothesis that the time and effort required in moving house could be relieved by the user of autonomous vehicles. So, we have created an autonomous removal service to create a less-taxing, efficient and streamlined process of moving houses. Our process lead us down many different routes, but with user testing we honed our focus on a simple organisation and booking service that efficiently delivers all there items to multiple locations in accordance with their needs.

}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
font-family: 'Merriweather Sans', sans-serif;
	margin-bottom: 20px;
		color:#267285;
}
	h1.welcome-special{
		font-family: 'Julius Sans One', sans-serif;
		font-size: 111px;
		letter-spacing: -15.21px;
		color:#267285;
	}


}
	h2.welcome-special-sub{
		font-family: 'Lato', Sans-Serif;
		font-size: 30px;
	}

	h3{
font-size: 20px;
		font-family: 'Merriweather Sans', sans-serif;
		color: #267285;
		text-align: left;


	}


p, li, span, a {font-family: 'Lato', Sans-Serif;
	text-align: justify;
	font-weight: 300;
}

	p{
		color: #494949;
		line-height: 30px;
		margin-bottom: 50px;
padding-left: 2%;
		padding-right: 130px;

	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;

}

/*Container/class etc Override Rules*/
.welcome-message{
	background-image: url("./img/common/home.svg" );
	margin-top: 180px;
	margin-left: 138px;
}

.welcome-button-container{
	margin-top: 20px;

}

.welcome-button{
	background-color: rgba(250,249,248,.23);
	border-radius: 2px;
	border: transparent;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 20px;
	color: white;
	letter-spacing: 1px;
font-weight: lighter;
width: 30%;
display: block;
	padding: 30px;
	float: right;
margin-right: 10%;


}


.welcome-button:hover{
	background-color: #000;
	border-color: #000;
}

.master-heading h1{
	padding-top: 50px;
	color: #267285;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 50px;
	letter-spacing: -6.21px;

}

.header-scroll {
	border-top: double #FC7871;
	border-bottom: solid 1px #FC7871;
	height: 30px;
	width: 100%;

}




.section-heading{

	padding-top: 50px;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

/*Footer*/
.footer{
	margin-top: 50px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #989898;
	border-top: 1px solid #727272;
}


.sideBox {
	width: 25px;
	height: 100%;
	opacity: 0.20;
background-color:#267285;

}



div.welcome-content {
	position: absolute;

	width: 100%;
	height:100%;


}

img.welcome-content {
position: absolute;
width: 100%;

}

.textTop {
	margin-top: 10%;
height:  65%;
}

.textTop .firstName{
		margin-left: 10%;
}


.backgroundBox {
margin-top: -3%;
z-index: -1;
height: 100%;

background-image: url("file:///Users/gabriellemchugh/Desktop/-Deco2200-Gabrielle-Portfolio/img/common/Group.jpg");
background-size: cover;
opacity: 0.8;
}


.backgroundBox h1{
	z-index: 1;
	margin-left: 13%;
margin-top: -3%;
color: white;
display: block;
}


#screen {
	width: 150%;
	position: absolute;

}


.scroll-jump li {
	display: inline;
	padding-right: 10%;

}



.scroll-jump a{
color: black;

}

.scroll-jump ul {
	padding-top: 10px;
	display: center;

}


.blue-section {
	margin-top: 50px;
		margin-bottom: 50px;
	background-color: #6597A6;
}


.blue-section h3{
	color: white;
}

.blue-section p{
	color: #FAF9F8;
}




.accordion {
    background-color:  #6597A6;
		font-family: 'Merriweather Sans', sans-serif;
letter-spacing: 2px;
text-transform: uppercase;


    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.8s;
		margin-top: 3%;
		display: inline-block;
}

a.active {
font-weight: bold;
}

.accordion p {
	padding-left: 10px;
	padding-right: 100px;
}
.active1, .accordion:hover {
    background-color:#FC7871;
}

.panel {
padding-right: 10%;
    display: none;

}
.accordion, .section-heading {
	padding-left: 2%;
}

.image-text div {
	float: left;
	width: 50%;
	display: inline-block;

}

img.image-text {
	width: 70%;

}


]
.image-text {
	display: block;
}


.infobox {
	background-colour: black;
}

.aboutMe h6 {

	padding-left: 13%;
	letter-spacing: 3px;
	color: white;
	line-height: 200%;
	font-weight: lighter;
	font-size: 12px;
}
