/*This Custom CSS file has not been structured in any particular order.

Modify this file to your hearts content and make your website look awesome!*/
body{
	background-color: #FAF9F8;

}



/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: 200px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background-color: rgb(100,100,100);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{border: none; background-color: transparent;}

/*Navbar Rules*/


.navbar-nav a {
color: #037591;
font-family: 'Merriweather Sans', sans-serif;
font-size: 12px;
letter-spacing: 2.3px;
text-align: center;
margin-right: 10px;
}




.container-nav{
	background-color: #FAF9F8;
	padding-top: 40px;
	margin-left: 10%;
margin-right: 100px;
width: 100%;
}



.logo{

	float: right;
	}
	/*Floating Nav*/
.floating-nav{
	position: fixed;
	margin-top: 50px;

}

.nav-link{
	margin-right: 30px;

}
	a.float-nav-link{

		color: #595959;
		font-size: 14px;
		font-weight: 600;
		text-align: left;

	}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'Merriweather', serif;
	margin-bottom: 20px;
}
	h1.welcome-special{
		font-family: 'Julius Sans One', sans-serif;
		font-size: 111px;
		letter-spacing: -15.21px;
		color:#267285;
	}


}
	h2.welcome-special-sub{
		font-family: 'Lato', Sans-Serif;
		font-size: 30px;
	}

	h3{
		text-transform: uppercase;
		color: #a49727;
		letter-spacing: -0.5px;
	}


p, li, span, a {
	font-family: 'Lato', Sans-Serif;
	text-align: justify;
	font-weight: 300;
}

	p{
		color: #494949;
		line-height: 30px;
		margin-bottom: 25px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	background-image: url("./img/common/home.svg" );
	margin-top: 180px;
	margin-left: 138px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: transparent;
	border-radius: 0px 0px 0px 0px;
	border: 3px solid #000;
	font-family:'Montserrat', Sans-Serif;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

.welcome-button:hover{
	background-color: #000;
	border-color: #000;
}

.master-heading{
	padding-top: 50px;
}

.section-heading{
	padding-top: 100px;
}

.slide-show{
	padding: 30px 0px 50px 0px;
}

/*Footer*/
.footer{
	margin-top: 50px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #989898;
	border-top: 1px solid #727272;
}


.sideBox {
	width: 25px;
	height: 100%;
	opacity: 0.20;
background-color:#267285;

}

div.sideBoxA {
	right:0px;
	position: absolute;

}

div.welcome-content {
	position: absolute;

	width: 100%;
	height:100%;

	border-left: solid  rgba(38, 114, 133, 0.17)  25px;
	border-right: solid rgba(38, 114, 133, 0.17) 25px;

}

img.welcome-content {
position: absolute;
width: 100%;

}

.textTop {
	margin-top: 10%;
height:  65%;
}

.textTop .firstName{
		margin-left: 10%;
}


.backgroundBox {
margin-top: -3%;

height: 100%;
background-image: url(.img/common/screen.jpg);

}

.backgroundBox h1{

	margin-left: 13%;

}

.backgroungBox img {
	position: absolute;
	width: 100%;
}

#screen {
	width: 150%;
	position: absolute;

}
